<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    {{>header}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sint obcaecati totam quod consequuntur quis natus possimus. Nisi minus architecto eligendi non recusandae? Unde natus fugit deleniti fugiat perferendis quos!</p>
    {{>footer}}
</body>
</html>