<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    {{>header}}
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quos consectetur voluptatem consequuntur nobis esse minima est sint, quae, dicta assumenda voluptatum modi, earum dolorem odio reiciendis magnam. Iure, optio.</p>
    {{>footer}}
</body>
</html>